body, ul {
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px; /* 컨테이너의 너비를 조정 */
}

.btn, button.btn, a.btn, a.btn:link, a.btn:visited {
    display: inline-block;
    background-color: #0072BC;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-size: 16px;
    line-height: 1.5;
    vertical-align: middle;
    box-sizing: border-box;
    width: auto; /* 버튼의 너비를 고정하지 않습니다 */
}

button.btn {
    overflow: visible;
    width: auto;
    height: auto;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

/* 로고 이미지 스타일 */
img.logo {
    width: 100px;
    margin-bottom: 20px;
}

/* 로그인 정보 스타일 */
.login-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

/* 상단 헤더 스타일 */
.top-header {
    background-color: darkgray;
    color: dimgrey;
    padding: 5px 0;
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

/* 왼쪽 이미지 영역 스타일 */
.top-header .logo_left img {
    width: 80px; /* 이미지의 크기를 조절하세요 */
    height: 80px;
    margin-right: 10px;
}

/* 가운데 텍스트 및 배경 이미지 영역 스타일 */
.center-content {
    font-family: Arial, sans-serif;
    font-style: normal;
    flex-grow: 1; /* 남은 공간을 차지하도록 확장 */
    text-align: center; /* 텍스트 가운데 정렬 */
    /*background: url('background-image.jpg') center/cover no-repeat;*/
}

/* 오른쪽 이미지 영역 스타일 */
.top-header .logo_right img {
    width: 60px; /* 이미지의 크기를 조절하세요 */
    height: 60px;
    margin-right: 10px;
}

/* 하단 헤더 스타일 */
.bottom-header {
    background-color: lightgray;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* 메뉴 영역 스타일 */
.bottom-header .menu {
    list-style: none;
    display: flex;
    text-align: center;
    position: sticky;
    bottom: 0;
    background-color: lightgray;
    z-index: 100;
}

.bottom-header .menu li {
    margin-right: 15px;
    margin-left: 15px;
}

.bottom-header .menu li:last-child {
    margin-right: 0;
}

.bottom-header .menu a {
    text-decoration: none;
    color: dimgrey;
}

.footer {
    text-align: center;
    background-color: darkgray;
    color: dimgrey;
    padding: 20px;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    font-size: 90%;
    margin: 0px;
}
