body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f4;
}
.container {
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.btn, h1, p, th, td {
    font-size: 16px;
}
.btn {
    display: inline-block;
    background-color: #0072BC;
    color: #ffffff;
    padding: 10px 20px;
    margin: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}
table {
    margin: 20px auto;
}
td {
    text-align: left;
    padding-left: 10px;
}
