/* 기본 스타일 초기화 */
body, ul {
    margin: 0;
    padding: 0;
}

.container {
    position: relative;
    text-align: center;
    background-color: #ffffff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    min-height: calc(100vh - 120px); /* 상단헤더와 메뉴헤더 높이 합한 값 뺀 나머지 공간만큼 높이 설정 */
    overflow: auto;
}

.btn {
    background-color: lightgray;
    color: dimgrey;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

h1.list_title {
    text-align: center;
}

.btn_style {
    display: flex;
    justify-content: center;
    margin-top: 10px; /* 버튼과 표 사이의 간격 조절 */
}

/* 로고 이미지 스타일 */
img.logo {
    width: 100px;
    margin-bottom: 20px;
}

/* 로그인 정보 스타일 */
.login-info {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
}

/* 상단 헤더 스타일 */
.top-header {
    background-color: darkgray;
    color: dimgrey;
    padding: 5px 0;
    display: flex;
    justify-content: space-between; /* 좌우 정렬 */
    align-items: center; /* 세로 가운데 정렬 */
}

/* 왼쪽 이미지 영역 스타일 */
.top-header .logo_left img {
    width: 80px; /* 이미지의 크기를 조절하세요 */
    height: 80px;
    margin-right: 10px;
}

/* 가운데 텍스트 및 배경 이미지 영역 스타일 */
.center-content {
    font-family: Arial, sans-serif;
    font-style: normal;
    flex-grow: 1; /* 남은 공간을 차지하도록 확장 */
    text-align: center; /* 텍스트 가운데 정렬 */
    /*background: url('background-image.jpg') center/cover no-repeat;*/
}

/* 오른쪽 이미지 영역 스타일 */
.top-header .logo_right img {
    width: 60px; /* 이미지의 크기를 조절하세요 */
    height: 60px;
    margin-right: 10px;
}

/* 하단 헤더 스타일 */
.bottom-header {
    background-color: lightgray;
    padding: 10px 0;
    display: flex;
    justify-content: center; /* 가운데 정렬 */
    position: sticky;
    top: 0;
    z-index: 100;
}

/* 메뉴 영역 스타일 */
.bottom-header .menu {
    list-style: none;
    display: flex;
    text-align: center;
    position: sticky;
    bottom: 0;
    background-color: lightgray;
    z-index: 100;
}

.bottom-header .menu li {
    margin-right: 15px;
    margin-left: 15px;
}

.bottom-header .menu li:last-child {
    margin-right: 0;
}

.bottom-header .menu a {
    text-decoration: none;
    color: dimgrey;
}

.footer {
    text-align: center;
    background-color: darkgray;
    color: dimgrey;
    padding: 20px;
    z-index: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

p {
    font-size: 90%;
    margin: 0px;
}

